# REMEMBER to change ALL the RUN numbers 
<Input>
inputDir /data2/TOFHIR2/TB/reco/
fileBaseName run
runs 3865
discCalibration /home/cmsdaq/DAQ/sw_daq_tofhir2/config_76.00/disc_settings.tsv

maxEntries -1
step1FileName /home/cmsdaq/TBAnalysis/TB_CERN_Sept2025/Lab5015Analysis/plots/moduleCharacterization_step1_run3865.root 
usePedestals 0
useTrackInfo 0

#sourceName Laser
#sourceName Na22
sourceName TB
#sourceName keepAll

# use vth1 to scan on first TH or vth2 to scan on 2nd TH
vth vth1
# if -1 takes ALL the Vovs in the run, you can select a specific one eg 3.0
vov -1

</Input>

<Output>
outFileNameStep1 /home/cmsdaq/TBAnalysis/TB_CERN_Sept2025/Lab5015Analysis/plots/moduleCharacterization_step1_run3865.root 
outFileNameStep2 /home/cmsdaq/TBAnalysis/TB_CERN_Sept2025/Lab5015Analysis/plots/moduleCharacterization_step2_run3865.root
plotDir /var/www/html/TOFHIR2C/MTDTB_CERN_Sept25/ModuleCharacterization/run3865/
</Output>

<Plots>
barList 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 

# binning and range for the energy plots
Vov        0.5  0.6  0.9  1.0  1.2  1.25 1.5  1.6  2.0  2.5  3.0  3.5  4.0  5.0  6.0  7.0  8.0
energyBins 512  512  512  512  512  512  512  512  512  512  512  512  512  512  512  512  512
energyMins 0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0    0
energyMaxs 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024

</Plots>


<Cuts>
# file with the lower boundary on energy to cutoff noise or crosstalk
minEnergiesFileName /home/cmsdaq/TBAnalysis/cfg/minEnergies_Sept25TB.txt
vetoOtherBars 1
</Cuts>   

# yes means coincidence with bar of REF module
# chR and chL select the right and left channel of the REF module for coincidence
<Coincidence>
status no
chL 133 
chR 154
peak511eBin 1 
</Coincidence>



<Channels>
# channel mapping of L/R channels of a bar (list is from bar 0 to 15) DO NOT CHANGE
channelMapping  13 17 \
                15 16 \
                14 18 \
                10 19 \
                12 20 \
                8 23 \
                11 21 \
                5 26 \
                9 22 \
                7 27 \
                6 28 \
                2 31 \
                3 30 \
                0 24 \
                1 25 \
                4 29 

# OLDER version of channel mapping, DO NOT USE
#channelMapping  14 17 \
#                12 19 \
#                10 21 \
#                 8 23 \
#                 6 25 \
#                 4 27 \
#                 2 29 \
#                 0 31 \
#                 1 30 \
#                 3 28 \
#                 5 26 \
#                 7 24 \
#                 9 22 \
#                11 20 \
#                13 18 \
#                15 16 


#channelMapping  0 31
# Select your DUT and your REFERENCE
DUTasic 7
REFasic 4

</Channels>